.main {
  background-color: rgb(26, 16, 10);
  padding: 0 15vw;
  min-height: 100vh;
}

.paragraph {
  color: white;
  font-size: 3.5vw;
  display: flex;
  flex-wrap: wrap;
  line-height: 1.3;
}

.word {
  position: relative;
  margin-right: 0.5rem;
}

.shadow {
  position: absolute;
  opacity: 0.01;
}
