.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  font-size: 3vw;
}

.link {
  padding: 0.5rem 2rem;

  &:hover {
    text-decoration: line-through;
  }
}

.home {
  position: fixed;
  top: 2rem;
  left: 2rem;
  font-weight: bold;
  font-size: 1.5vw;
  background-color: white;
  padding: 1rem;
  z-index: 1;
}
